---
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.astro';
import Navbar from '../components/Navbar.astro';
import Proyect from '../components/Proyect.astro';
import SkillsSection from '../components/SkillsSection.astro';
import Footer from '../components/Fotter.astro';
import Contact from '../components/Contact.astro';

---

<Layout title="Astro Portfolio." >
	<Navbar/>
	<main class="  ">
		<Home/>
		<Proyect/>
		<SkillsSection/>
	</main>

	<Footer/>
</Layout>


