---
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.astro';
import Navbar from '../components/Navbar.astro';
import Proyect from '../components/Proyect.astro';

---

<Layout title="Astro Portfolio." >
	<Navbar/>
	<main class="  ">
		<Home/>
		<Proyect/>
	</main>
</Layout>


