---
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.astro';
import Navbar from '../components/Navbar.astro';

---

<Layout title="Astro Portfolio." >
	<Navbar/>
	<main class="bg-astro-200 px-6 ">
		<Home/>
	</main>
</Layout>


