---

---

<section class="bg-astro-200 px-10 flex flex-col md:flex-row justify-center gap-x-8 py-5">
    
    <picture class=" rounded-lg w-96 h-96 flex flex-col justify-center  ">
        <img src="/avatar.jpg" alt="Foto de perfil" >

    </picture>

    <div class="flex flex-col gap-y-2 max-w-lg hover:opacity-0">
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore ipsa sapiente dolores quisquam hic, facilis nisi delectus impedit dolor quas asperiores non ipsum eos in odio debitis est tempore officiis?</p>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore ipsa sapiente dolores quisquam hic, facilis nisi delectus impedit dolor quas asperiores non ipsum eos in odio debitis est tempore officiis?</p>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore ipsa sapiente dolores quisquam hic, facilis nisi delectus impedit dolor quas asperiores non ipsum eos in odio debitis est tempore officiis?</p>
    </div>
</section>