---
import AnimationLogo from "./ui/Animation.astro";
---

<section class="grid sm:grid-cols-2 justify-items-center mt-10">
  <div class="grid place-items-center  gap-y-3">
    <h1 class="text-3xl text-white/95 font-extrabold w-fit">
      SI PUEDES IMAGINARLO PUEDES PROGRMARLO
    </h1>

    <p class="font-semibold text-white/50 text-2xl">Full Stack Developer  <span class="text-orange-500 font-semibold">+1 ano</span> de experiencia </p>

    <button class="mt-4 text-white bg-orange-500 w-fit p-3 text-xl font-semibold rounded-lg ">Download Cv</button>
  </div>

  <div class="relative">
    <AnimationLogo />
    <img src="/curve.png" alt="" class="absolute top-12 z-10" />
  </div>
</section>
