---
import AnimationLogo from "./ui/Animation.astro";
---

<section
  class="flex flex-col md:grid grid-cols-2  px-10 justify-items-center  bg-astro-200   select-none min-h-screen " 
>
  <div class="flex flex-col  ">

    <div>

    </div>
    <h1 class="text-5xl text-white/95 font-extrabold  mb-12 mt-32 w-fit  ">
      "SI PUEDES IMAGINARLO PUEDES PROGRMARLO"
    </h1>

    <p class="font-semibold text-white/80 text-4xl group1">
      Full Stack Developer <span class="text-orange-500 font-bold animate-bounce tracking-tight"
        >+1 año</span
      > de experiencia
    </p>

    <p class="font-semibold text-white/60 text-3xl mt-6 ">
      Embárcate en un recorrido  <br>por mi trabajo
    </p>

    <button
      class="mt-4 text-white bg-orange-500  px-8 py-3 text-xl font-semibold rounded-lg md:w-fit hover:shadow-lg hover:shadow-orange-600 hover:rotate-2"
      >Download Cv</button
    >
  </div>

  <div class="relative   ">
    <AnimationLogo />
    <img src="/img/curve.png" alt="" class="absolute top-20 z-10 sm:top-40 left-0  " />
  </div>
</section>
