---
import Card from './ui/CardProyect.astro'
---


<section class="bg-astro-100 px-10  py-10  ">

        <h1 class="text-5xl font-extrabold text-center text-white mb-2">Proyectos </h1>
        <span class="text-center text-white mb-7 text-xl block underline font-medium " >Descubre lo que he creado</span>
    <div class="grid xl:grid-cols-3 md:grid-cols-2  gap-3">
        <Card/>
        <Card/>
        <Card/>

    </div>
   
</section>