---
import Skill from "./ui/Skill.astro";

import SkillsFrontend from "./ui/SkillsFrontend.astro";
import SkillsBackend from "./ui/SkillsBackend.astro";
import SkillsOthers from "./ui/SkillsOthers.astro";
---

<section id="Skills" class="bg-astro-200 p-10 ">
  <h1 class="text-5xl font-extrabold text-center text-white mb-2 ">
   Habilidades 
  </h1>
  <span class="text-center text-white mb-7 text-xl block underline font-medium opacity-75"
    >Mis habilidades están a tu disposición. </span
  >
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-5">
    <Skill title="Fontend">
      <SkillsFrontend />
    </Skill>
    <Skill title="Backend">
      <SkillsBackend />
    </Skill>

    <Skill title="Otros">
      <SkillsOthers />
    </Skill>
  </div>
</section>
