---

---

<article
  class="relative overflow-hidden rounded-lg group p-2  "
>
  <img
    src="/a.png"
    alt=""
    class="absolute inset-0 h-full object-cover w-full  "
  />

  <div class="absolute inset-0 h-full w-full bg-gradient-to-t from-black to-transparent md:opacity-0 group-hover:opacity-100 "></div>

  <div class="relative mt-52 font-semibold text-white z-10 translate-y-3 md:opacity-0 md:group-hover:opacity-100 md:group-hover:translate-y-0 duration-200 ease-in-out transition-all   ">
    <h2 class="text-2xl ">Numeria</h2>
    <p class="text-base">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque consectetur
      illo perferendis at ut magni, maxime quibusdam illum laboriosam, minus
      eius exercitationem alias? Nesciunt culpa veritatis modi fugiat minus.
      Voluptate?
    </p>
  </div>
</article>















<!-- <a href="#" class="group relative block bg-black">
    <img
      alt="Developer"
      src="./a.png"
      class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
    />
  
    <div class="relative p-4 sm:p-6 lg:p-8">
      <p class="text-sm font-medium uppercase tracking-widest text-pink-500">
        Developer
      </p>
  
      <p class="text-xl font-bold text-white sm:text-2xl">Tony Wayne</p>
  
      <div class="mt-32 sm:mt-48 lg:mt-64">
        <div
          class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
        >
          <p class="text-sm text-white">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis
            perferendis hic asperiores quibusdam quidem voluptates doloremque
            reiciendis nostrum harum. Repudiandae?
          </p>
        </div>
      </div>
    </div>
  </a> -->
